*.iml
*.bak
*.class
*.ctxt
*.ear
*.iws
*.jar
*.launch
*.log
*.pydevproject
*.rar
*.swp
*.tar.gz
*.tmp
*.war
*.zip
*~.nib
.buildpath
.cache-main
.cproject
.externalToolBuilders/
.factorypath
.idea
.loadpath
.metadata
.mtj.tmp/
.mvn/timing.properties
.recommenders
.recommenders/
.scala_dependencies
.settings/
.springBeans
.target
.tern-project
.texlipse
.worksheet
atlassian-ide-plugin.xml
bin/
buildNumber.properties
cmake-build-debug/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dependency-reduced-pom.xml
fabric.properties
hs_err_pid*
local.properties
out/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
tmp/
